.git
.env
.env.*
!.env.example
backups
src/vendor
src/node_modules
src/storage
src/bootstrap/cache
src/public/build
src/.phpunit.result.cache
src/.phpunit.cache
src/.idea
src/.husky
src/.nexus
src/.npm-licenses
src/.composer-licenses
**/*.log
**/*.sql
