.git
.github
.woodpecker.yml
node_modules
vendor
.env
.env.*
.env.dusk.*
.env.playwright
public/hot
public/storage
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
tests
playwright-report
test-results
manual
scripts
*.md
.composer-licenses
.npm-licenses
.phpunit.cache
.phpunit.result.cache
