APP_NAME="Pfarrplaner"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://www.pfarrplaner.de/
DEBUGBAR_ENABLED = false
#hier eine zufällige Zeichenfolge eintragen:
TOKEN_SALT=""


# Ohne die folgende Angabe kann keine Hilfe vom Entwickler erwartet werden.
APP_ADMINISTRATOR=admin@dieseinstanz.de

# Mit der folgenden Option lässt sich die automatische Meldung der Instanz an den Entwickler verhindern.
# Wenn diese Option gesetzt ist, kann keine Hilfe vom Entwickler erwartet werden.
#NO_PING=1

LOG_CHANNEL=stack

# Hier die Zugangsdaten zur Datenbank eintragen
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=pfarrplaner
DB_USERNAME=pfarrplaner
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=1500

# Der folgende Abschnitt wird nur benötigt, wenn Redis als Cache eingesetzt wird
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

MAIL_DRIVER=sendmail

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Hier lässt sich die Absendeadresse der Mails einstellen
MAIL_FROM_ADDRESS=noreply@pfarrplaner.de
MAIL_FROM_NAME="Pfarrplaner"

# Die folgenden Einstellungen werden für Backups auf SFTP und AMAZON S3 benötigt.
SFTP_BACKUP_HOST=
SFTP_BACKUP_USER=
SFTP_BACKUP_PASSWORD=
BACKUP_EMAIL_RECIPIENT=
BACKUP_LOCAL_PATH=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION="eu-central-1"
AWS_BUCKET=

# E-Mail für Fehlermeldungen im Dev-Modus
DEV_EMAIL=
SNEAKER_SILENT=false

# Site-ID für Matomo, falls Tracking verwendet wird
MATOMO_SITE=

# Slack-Integration: Logs an Slack schicken
LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

# Diverse Einstellungen für Feeds
YT_CHANNEL_FEED="https://www.youtube.com/feeds/videos.xml?channel_id=UCLRinVsLiYMJtN56bynCPEw"
REPO_COMMIT_FEED="https://github.com/pfarrplaner/pfarrplaner/commits/main.atom"

# API-Key für Pixabay (zum Bilderimport)
PIXABAY_API_KEY=""

# Zugangsdaten für Amazon AWS, API, usw.
AWS_ID=
AWS_SECRET=
AMAZON_API_KEY=
AMAZON_API_SECRET_KEY=
AMAZON_ASSOCIATE_TAG=
AMAZON_HOST=
AMAZON_REGION=

# API-Key für Recaptcha (Feedbackformular auf der Startseite)
RECAPTCHA_KEY=
RECAPTCHA_SECRET=

# You should backup this key in a safe secure place
DATABASE_KEY=
