[submodule "resources/js/libraries/DynamicQuillTools"]
	path = resources/js/libraries/DynamicQuillTools
	url = git@github.com:T-vK/DynamicQuillTools.git
[submodule "manual"]
    path = manual
    url = git@codeberg.org:pfarr.tools/pfarrplaner-manual.git

