vendor
node_modules
storage
package-lock.json
.idea
.github
.husky
*.sql
.env
public/js/*.js
public/js/*.map
bootstrap/cache
config/client_secret.json
public/css/app.css
public/mix-manifest.json
public/user-images
storage.old
.phpstorm.meta.php
_ide_helper*
